*~
atlassian*
.checkstyle
*.class
.classpath
deployments
.DS_Store
*.ear
.factorypath
.fbExcludeFilterFile
hs_err_pid*
.idea/
*.iml
*.ipr
*.iws
*.jar
.metadata/
.mtj.tmp/
my*.json
my*.yaml
.project
.settings/
target
target/
venv/
*.war
