version: 2.1
jobs:
  validate-application-templates:
    docker:
    - image: circleci/buildpack-deps
    steps:
    - checkout
    - run:
        type: shell
        name: Download openshift-validator-tool
        command: |
          wget https://github.com/jboss-container-images/jboss-kie-modules/raw/master/tools/openshift-template-validator/openshift-template-validator-linux-amd64
    - run:
        name: Add execution permission to openshift-validator-tool
        command: |
          chmod +x openshift-template-validator-linux-amd64
    - run:
        name: Print the openshift-validator-tool version
        command: |
          ./openshift-template-validator-linux-amd64 --version
    - run:
        name: Verify the templates
        command: |
          ./openshift-template-validator-linux-amd64 validate -d templates/
    - run:
        name: Verify the RHPAM imagestream
        command: |
          ./openshift-template-validator-linux-amd64 validate --file rhpam79-image-streams.yaml

  validate-cekit-image-yaml-files:
    docker:
    - image: circleci/buildpack-deps
    steps:
    - checkout
    - run:
        type: shell
        name: Download CeKit Image Validator
        command: |
          wget https://github.com/kiegroup/kie-cloud-tools/releases/download/1.0-SNAPSHOT/cekit-image-validator-runner.tgz
          tar -xzvf cekit-image-validator-runner.tgz
          chmod +x cekit-image-validator-runner
    - run:
        name: Validate businesscentral-monitoring image files
        command: |
          ./cekit-image-validator-runner businesscentral-monitoring/
    - run:
        name: Validate businesscentral image files
        command: |
          ./cekit-image-validator-runner businesscentral/
    - run:
        name: Validate controller image files
        command: |
          ./cekit-image-validator-runner controller/
    - run:
        name: Validate kieserver image files
        command: |
          ./cekit-image-validator-runner kieserver/
    - run:
        name: Validate process-migration image files
        command: |
          ./cekit-image-validator-runner process-migration/
    - run:
        name: Validate smartrouter image files
        command: |
          ./cekit-image-validator-runner smartrouter/

workflows:
  build:
    jobs:
      - validate-application-templates
      - validate-cekit-image-yaml-files